/* CompanyDirectionPage */
.companyDirectionPage {
  min-width: 100%;
  max-height: 100%;
}
.company {
  margin: 50px 100px;
}
.companyName {
  font-size: 2rem;
  color: rgb(78, 76, 76);
  text-align: center;
  margin-bottom: 30px;
}
.companyAddress {
  border: 1px solid gray;
  margin-top: 10px;
  min-width: 100%;
}

.companyAddress h2 {
  padding: 30px 0px 5px 30px;
  font-size: 1.2rem;
  color: rgb(78, 76, 76);
}

.companyAddress p {
  padding: 13px 0px 20px 30px;
  font-size: 1rem;
  color: rgb(133, 130, 130);
}

/* CompanyIntroduce */
.introducePage {
}

.introduce-list {
  border-bottom: thin solid gray;
  box-sizing: border-box;
  padding-left: 80px;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
}

.introduce-list ul {
  font-size: 1.2rem;
  max-height: 100px;
  width: auto;
  margin: 0 110px;
  color: gray;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  display: flex;
  justify-content: center;
}

.introduce-list li {
  float: left;
  width: auto;
  max-height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20%;
}

.introduce-list .on {
  color: rgb(92, 92, 230);
  border-bottom: 4px solid rgb(92, 92, 230);
}
.introduce-list .on1 {
  color: rgb(92, 92, 230);
}
.introduce-list li a {
  color: gray;
}

.introduce-list li:hover {
  max-height: 50px;

  border-bottom: 4px solid rgb(92, 92, 230);
  cursor: pointer;
}

.introduce-list li:hover a {
  color: rgb(92, 92, 230);
}

.introduce-back {
  margin: 0 200px;
}
.imgBlock {
  display: flex;
}

.introduce-back1img {
  width: 50%;
  aspect-ratio: 822 / 677;
  background-image: url('./../../../utils/img/introduce/introduce1.png');
  background-size: cover;
}
.introduce-back2img {
  width: 50%;
  aspect-ratio: 822 / 677;

  background-image: url('./../../../utils/img/introduce/introduce2.png');
  background-size: cover;
}
.introduce-back3img {
  width: 50%;
  aspect-ratio: 822 / 677;

  background-image: url('./../../../utils/img/introduce/introduce3.png');
  background-size: cover;
}
.introduce-back4img {
  width: 50%;
  aspect-ratio: 822 / 677;

  background-image: url('./../../../utils/img/introduce/introduce4.png');
  background-size: cover;
}

.introducePage p {
  font-size: 1.2rem;
  color: gray;
  margin: 50px 330px 150px 400px;
}

/* History */
.history-back {
  margin: 0 120px;
}
.history-back1img {
  max-width: 1200px;
  min-height: 1200px;
  background-image: url('./../../../utils/img/introduce/history1.png');
  background-size: cover;
  margin-left: 65px;
}
.history-back2img {
  max-width: 1200px;
  min-height: 1200px;
  background-image: url('./../../../utils/img/introduce/history2.png');
  background-size: cover;
  margin-left: 10px;
}
.history-back3img {
  max-width: 900px;
  min-height: 700px;
  background-image: url('./../../../utils/img/introduce/history3.png');
  background-size: cover;
  margin-left: 290px;
  margin-bottom: 100px;
}

/* Ideology */
.ideology-back {
  margin: 0 200px;
}
.ideology-back1img {
  width: 50%;
  aspect-ratio: 815 / 421;
  background-image: url('./../../../utils/img/introduce/ideology1.png');
  background-size: cover;
}
.ideology-back1-2img {
  width: 50%;
  aspect-ratio: 815 / 421;
  background-image: url('./../../../utils/img/introduce/ideology1-2.png');
  background-size: cover;
}
.ideology-back1-3img {
  width: 50%;
  aspect-ratio: 815 / 421;
  background-image: url('./../../../utils/img/introduce/ideology1-3.png');
  background-size: cover;
}
.ideology-back1-4img {
  width: 50%;
  aspect-ratio: 815 / 421;
  background-image: url('./../../../utils/img/introduce/ideology1-4.png');
  background-size: cover;
}
.ideology-back2img {
  max-width: 1300px;
  min-height: 800px;
  background-image: url('./../../../utils/img/introduce/ideology2.png');
  background-size: cover;
}
.ideology-back3img {
  max-width: 1300px;
  min-height: 500px;
  background-image: url('./../../../utils/img/introduce/ideology3.png');
  background-size: cover;
  margin-bottom: 70px;
}

/* Management */
.management-back {
  margin: 0 120px;
}
.management-back1img {
  max-width: 1400px;
  min-height: 500px;
  background-image: url('./../../../utils/img/introduce/management1.png');
  background-size: cover;
}
.management-back2img {
  max-width: 1400px;
  min-height: 600px;
  background-image: url('./../../../utils/img/introduce/management2.png');
  background-size: cover;
  margin-left: 20px;
}

/* Strategy */
.strategy-back {
  margin: 0 120px;
}
.strategy-back1img {
  max-width: 1500px;
  min-height: 300px;
  background-image: url('./../../../utils/img/introduce/stategy1.png');
  background-size: cover;
}
.strategy-back2img {
  max-width: 1300px;
  min-height: 1000px;
  background-image: url('./../../../utils/img/introduce/stategy2.png');
  background-size: cover;
  margin: 50px 60px;
}
.strategy-back3img {
  max-width: 1400px;
  min-height: 1000px;
  background-image: url('./../../../utils/img/introduce/stategy3.png');
  background-size: cover;
}
.strategy-back4img {
  max-width: 1400px;
  min-height: 500px;
  background-image: url('./../../../utils/img/introduce/stategy4.png');
  background-size: cover;
  margin-left: 25px;
}
.strategy-back5img {
  max-width: 1400px;
  min-height: 600px;
  background-image: url('./../../../utils/img/introduce/stategy5.png');
  background-size: cover;
  margin-top: 70px;
}
.strategy-back6img {
  max-width: 1400px;
  min-height: 1000px;
  background-image: url('./../../../utils/img/introduce/stategy6.png');
  background-size: cover;
  margin: 70px 20px;
}

/* CompanyAsk */
.ask-back {
  margin: 0 120px;
  display: flex;
  width: 85%;
  height: 300px;
}

.ask-back1img {
  background-image: url('./../../../utils/img/introduce/ask.png');
  background-size: cover;
  width: 100%;
}

.askList {
  display: flex;
  padding: 0 170px;
}

/* AskContentes */
.askContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
  cursor: pointer;
}

.askContents .img_1 {
  width: 150px;
  height: 100px;
  background-image: url('./../../../utils/img/ask1.png');
  background-size: cover;
  margin-bottom: 30px;
}
.askContents .img_2 {
  width: 150px;
  height: 100px;
  background-image: url('./../../../utils/img/ask2.png');
  background-size: cover;
  margin-bottom: 30px;
}
.askContents .img_3 {
  width: 120px;
  height: 100px;
  background-image: url('./../../../utils/img/ask3.png');
  background-size: cover;
  margin-bottom: 30px;
}

.askContents h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.explain {
  font-size: 1.2rem;
  text-align: center;
  min-width: 200px;
  max-height: 10px;
}

/*modal*/
.AskBack {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 9999;
}
.AskContent {
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 80%;
  position: fixed;
  background-color: #ffffff;
  padding: 20px;
  font-size: 1.2rem;
  border: 1px solid gray;
}

.AskContent th {
  padding: 30px;
  text-align: left;
  font-weight: 100;
  border-bottom: 1px solid rgb(179, 176, 176);
}

.AskContent td {
  border-bottom: 1px solid rgb(179, 176, 176);
  width: 450px;
}

.AskExplain {
  height: 60px;
  margin: 30px 0;
  text-align: center;
  padding-top: 15px;
  background-color: #eeeeee;
  box-sizing: border-box;
}

.askBnt {
  margin-top: 80px;
}

.confirmBnt {
  height: 40px;
  width: 100px;
  background-color: #0a69c8;
  border: 0;
  color: white;
  margin-right: 20px;
}

.cancelBnt {
  height: 40px;
  width: 100px;
  background-color: rgb(187, 182, 182);
  border: 0;
  color: white;
}

.AskContent select {
  height: 35px;
  width: 130px;
  padding: 0 10px;
  box-sizing: border-box;
}

.inputArea {
  border: 0;
  width: 90%;
  font-size: 1.1rem;
}

.input {
  width: 130px;
  height: 35px;
  box-sizing: border-box;
}
