/* IrContents */
.IrContents {
  width: 100%;
}

.IrWrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.postSection {
  display: grid;

  grid-template-columns: repeat(6, 15%);
  column-gap: 10px;
  row-gap: 10px;

  justify-content: center;

  margin-top: 10px;
  margin-bottom: 25px;
}
.contentsLen {
  text-align: right;
  padding-right: 3%;
  font-weight: 400;
}
/* IrPost */
.IrPost {
  aspect-ratio: 1/1;
  background-color: #eeeeee;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.IrPost:hover {
  background-color: #265384;
  color: #eeeeee;
}
.IrPostTitle {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.IrPostDate {
  margin-left: 10px;
  margin-bottom: 30px;
  font-size: 0.8rem;
  color: #9e9e9e;
}

/* IrPostContent */
.IrPC_BackGround {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 9999;
}
.PC_Back{
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.PostContent {
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 60%;
  position: fixed;
  background-color: #f2f2f2;

  border-radius: 10px;
  padding: 20px;
}
.PostClose {
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}
.PostClose button {
  border: none;
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  background: transparent;
  cursor: pointer;
}
.PostHeader {
  display: flex;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
  border-bottom: #9e9e9e solid 1px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}
.PostHeader h2 {
  font-size: 1.5rem;
}
.PostHeader h3 {
  font-weight: 200;
}
.PostContentR {
  margin-right: 40px;
  margin-left: 40px;
  text-align: justify;
  text-justify: inter-word;
}
