.TitleImg {
  width: 100%;
  height: 35vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
.TitleImg .Explain {
  background-position: center;
  background-size: cover;
  background-image: url(./../../../utils/img/back/back2.jpg);
}
.img_Ir {
  background-position: center;
  background-size: cover;
  background-image: url(./../../../utils/img/back/back3.jpg);
}
.TitleImg .Recruit {
  background-position: center;
  background-size: cover;
  background-image: url(./../../../utils/img/back/back4.jpg);
}
.img_Ir h1 {
  color: aliceblue;
  font-size: 2rem;
  text-shadow: 1px 1px 1px gray;
}
.img_Direction {
  background-position: center;
  background-size: cover;
  background-image: url(./../../../utils/img/back/direction.png);
}
.img_Direction h1 {
  color: aliceblue;
  font-size: 2rem;
  text-shadow: 1px 1px 1px gray;
}
