/* NavBar & Footer Setting */
.LandingPage .Nav {
   position: fixed;
   z-index: 2 !important;
   top: 0 !important;
   left: 0 !important;
 }
 .Footer {
   background-image: url("./../../../utils/img/footersample.png");
   background-size: cover;
 }
 .footerScroll {
   height: 5vh;
   background-color: #545454;
   display: flex;
   align-items: center;
 }
 .footerScroll .scrollButton {
   width: 60%;
   height: 60%;
   background-color: #a09e9e;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.8rem;
 }
 /* swiper Setting */
 .swiper {
   height: 95vh;
 }
 .swiper .swiper-pagination {
   position: absolute;
   bottom: 1%;
 }
 .swiper .swiper-pagination-bullet {
   background-color: #0057a4;
 }
 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
 }
 .section_2 {
   background-image: linear-gradient(
       rgba(0, 0, 0, 0.8),
       rgba(255, 255, 255, 0.1)
     ),
     url("./../../../utils/img/back/city2.jpg");
   background-size: cover;
 }
 .section_3 {
   position: absolute;
   background-image: linear-gradient(
       rgba(255, 255, 255, 0),
       rgba(255, 255, 255, 0.1)
     ),
     url("./../../../utils/img/back/city1.jpeg");
   background-size: cover;
 }
 .section_4 {
   background-image: url("./../../../utils/img/back/back4.jpg");
   background-size: cover;
 }
 /* LandingPage Section */
 /* Common __ LandingInfo  */
 .LandingInfoTitle {
   margin-bottom: 40px;
 }
 .LandingInfoTitle h1 {
   color: #fefefedf;
   font-size: 4rem;
   text-shadow: 1px 1px 1px gray;
 }
 .LandingInfoTitle h3 {
   text-align: left;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
   color: #fefefedf;
   text-shadow: 1px 1px 1px gray;
 }
 
 .LandingInfoTitle .inFoDivisionLine {
   width: 10%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 20px;
   border-bottom: #fefefedf solid 2px;
 }
 /* LandingExplainSection */
 .LandingExplainSection {
   width: 90%;
 }
 .explainColum {
   display: flex;
   justify-content: space-between;
 }
 
 .columBack {
   aspect-ratio: 18 / 11;
   width: 33%;
   overflow: hidden;
   position: relative;
   align-items: center;
   justify-content: center;
   display: flex;
 
   margin-top: 10px;
   margin-bottom: 10px;
 
   transition: all 0.2s linear;
   cursor: pointer;
 
   border-radius: 3px;
 
   box-shadow: 3px 2px 15px 3px #0e0e0e;
 }
 .columBack:hover {
   margin-top: 0px;
   margin-bottom: 20px;
 }
 .infoWrapper {
   width: 100%;
   height: 100%;
   align-items: center;
   display: flex;
 }
 .infoWrapper:hover {
   transform: scale(1.2);
 }
 .columBack .columInfo {
   width: 100%;
 }
 .columBack .columInfo h1 {
   font-size: 2rem;
   color: #fff;
   text-shadow: 1px 1px 1px gray;
 }
 .columBack .columInfo p {
   color: #fff;
   text-shadow: 1px 1px 1px gray;
 }
 .colum1 {
   background-image: url("./../../../utils/img/introduce.jpg");
   background-size: cover;
 }
 .colum1:hover {
   background-image: url("./../../../utils/img/introduce_hover.jpeg");
   background-size: cover;
 }
 .colum2 {
   background-image: url("./../../../utils/img/map.jpg");
   background-size: cover;
 }
 .colum2:hover {
   background-image: url("./../../../utils/img/map_hover.jpeg");
   background-size: cover;
 }
 .colum3 {
   background-image: url("./../../../utils/img/ask.jpg");
   background-size: cover;
 }
 .colum3:hover {
   background-image: url("./../../../utils/img/ask_hover.jpeg");
   background-size: cover;
 }
 
 /* Landing IR Section */
 .IrContentsWrapper {
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: gray;
   opacity: 0.5;
 }
 
 .IrContents {
   background-color: transparent;
   position: relative;
   width: 100vmax;
 }
 
 .IrSwiper {
   width: 90vmax;
   height: 25vh;
 }
 
 .IrSwiperContent {
   background-color: transparent;
 }
 .IrSliderContent {
   width: 100%;
   height: 100%;
 
   object-fit: contain;
 
   transition: transform 450ms;
   border-left: gray solid 2px;
 
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
 
   padding-left: 50px;
   padding-right: 50px;
 
   position: relative;
   cursor: pointer;
 }
 .IrSliderContent:hover {
   background-color: gray;
 }
 .IrSliderContent .IrDate {
   position: absolute;
   top: 0;
 
   background-color: #0057a4;
   width: 40%;
   height: 20%;
   color: #fff;
 
   margin-left: auto;
   margin-right: auto;
 
   justify-content: center;
   align-items: center;
   display: flex;
   z-index: 2;
 }
 
 .IrSliderContent .Irtitle {
   color: #fff;
   text-align: left;
 }
 
 /* LandingMainPage */
 .mainSl_1{
   background-image: url("./../../../utils/img/back/main1.png");
   background-size: cover;
 }
 .mainSl_2{
   background-image: url("./../../../utils/img/back/main2.png");
   background-size: cover;
 }
 .mainSl_3{
   background-image: url("./../../../utils/img/back/main3.png");
   background-size: cover;
 }
 
 .LandingMainSection {
   width: 100%;
   height: 95vh;
   z-index: 1;
 }
 .landingSwiper {
   width: 100%;
   border-radius: 10px;
   overflow: hidden;
 }
 .landingSwiper .slider {
   width: 100%;
   background-color: #545454;
   display: flex;
 }
 .slider .sliderWrapper {
   width: 100%;
   height: 100%;
 }
 /* slider */
 .imageExplain {
   height: 75%;
   width: 100%;
   z-index: 1;
   font-size: 2rem;
   color: navy;
 
   justify-content: center;
   align-items: left;
   text-align: left;
   padding-left: 18%;
   display: flex;
 
   flex-direction: column;
   
 }
 .landing_Set-bnt {
   z-index: 1;
   border-radius: 2rem;
   background-color: transparent;
   width: 12rem;
   height: 3rem;
   color: aliceblue;
   margin-top: 2rem;
   font-size: 1.2rem;
   border: 1.5px solid white;
 }
 
 /* 더보기 버튼 올릴때 */
 .landing_Set-bnt:hover {
   cursor: pointer;
 }
 /* 더보기 버튼 누를때 */
 .landing_Set-bnt:active {
   box-shadow: inset -0.3rem -0.1rem 1.4rem #fbfbfb,
     inset 0.3rem 0.4rem 0.8rem #bec5d0;
   cursor: pointer;
 }
 .imageExplain-head {
   font-size: 3rem;
 }
 .imageExplain div {
   color: white;
 }
 /* Slide 3 */
 .imageExplain-3 {
   height: 75%;
   width: 100%;
   z-index: 1;
   font-size: 2rem;
   color: navy;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
 }
 .imageExplain-3 div {
   color: white;
 }
 /* under data */
 .LandingPageSetList {
   width: 100%;
 
 }
 .landingPage_Set-list {
   width: 70%;
   padding-left: 16rem;
   z-index: 2;
   margin-bottom: 1rem;
 }
 .landingPage_Set-listitems {
   color: rgba(255, 255, 255, 0.712);
   text-align: center;
   font-size: 1.2rem;
   background-color: rgba(68, 66, 66, 0.8);
   height: 9rem;
   vertical-align: middle;
 }
 .landingPage_Set-listitems li {
   display: inline-block;
   margin-right: 5rem;
   padding-top: 1rem;
 }
 .list-image {
   display: block;
   margin-bottom: 5px;
 }
 
 .connectNumber {
   color: rgba(255, 255, 255, 0.712);
   margin-right: 8rem;
   margin-bottom: 2rem;
   float: right;
   font-size: 1.1rem;
   position: inherit;
   z-index: 2;
 }
 
 