/* Divide */
.Divide {
  width: 100%;
  height: 5vh;
  display: flex;
  background-color: transparent;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Divide img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  margin-right: 5px;
}
.Divide h3 {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1rem;
  font-weight: 400;
}
.Divide .division {
  color: gray;
}
.Divide .section {
  color: navy;
  margin-right: 50px;
}
/* Greeting */
.Greeting{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.Greeting .title{
  font-size: 2rem;
}
.Greeting .content {

}
.Greeting .v-line{
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: thin solid gray;
  height: 40px;
}

/* Pagination */
.Pagination {
  text-align: center;
  border: none;
  margin-bottom: 30px;
}
.Pagination button {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 0;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.Pagination .PageIndex{
  border: gray solid 1px;
  background-color: #fff;
  color: gray
}
.Pagination .PageIndex:hover {
  border: blue solid 1px;
  background-color: #bbe3f2;
  color: #fff;
}
.Pagination .on {
  border: blue solid 1px;
  color: blue;
}
.Pagination .PageMove {
  background-color: transparent;
}
